<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>

<div class="register-form">
    <form th:action="@{/register}" th:object="${User}" method="post">
        <div class="register-panel">
            <label for="firstName">First name: </label>
            <input type="text" id="firstName" name="lastName" th:field="*{firstName}" required>
        </div>
        <div class="register-panel">
            <label for="lastName">Last name: </label>
            <input type="text" id="lastName"  name="lastName" th:field="*{lastName}" required>
        </div>
        <div class="register-panel">
            <label for="userAge">Your age: </label>
            <input type="number" id="userAge" name="userAge" min=0 max=200 th:field="*{age}" minrequired>
        </div>
        <div class="register-panel">
            <label for="role">Role: </label>
            <select id="role" name="groupName" required th:field="*{groupType}">
                <option value="" hidden>Select a role</option>
                <option th:each="group: ${T(com.codecool.forcedepartment.model.util.GroupTypes).values()}"
                        th:value="${group}"
                        th:text="${group}"></option>
            </select>
        </div>
        <div class="register-panel-button">
            <button type="submit">Submit</button>
        </div>
    </form>
</div>
</body>
</html>